{% extends "quality_control/base.html" %}

{% block content %}
<div class="container">
    <div class="card mt-5" style="background-color: rgb(35, 76, 241)">
        <div class="card-header">
            <h2 style="color:rgb(255, 255, 255)">Просмотр задания: <strong>{{ feature.title }}</strong></h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-light p-3 mb-3" onmouseover="highlight(this)" onmouseout="removeHighlight(this)">
                        <strong>Профиль:</strong> {{ feature.profile }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="bg-light p-3 mb-3" onmouseover="highlight(this)" onmouseout="removeHighlight(this)">
                        <strong>Название:</strong> {{ feature.title }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="bg-light p-3 mb-3" onmouseover="highlight(this)" onmouseout="removeHighlight(this)">
                        <strong>Описание:</strong> {{ feature.description }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="bg-light p-3 mb-3" onmouseover="highlight(this)" onmouseout="removeHighlight(this)">
                        <strong>Статус:</strong> {{ feature.status }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function highlight(element) {
        element.classList.remove("bg-light");
        element.classList.add("bg-info");
    }

    function removeHighlight(element) {
        element.classList.remove("bg-info");
        element.classList.add("bg-light");
    }
</script>
{% endblock %}
