{% extends "quality_control/base.html" %}

{% block content %}
<body>
  <div class="container">
    <h1>
      {{ message }}
    </h1>
  

  <div class="row">
    <div class="col-6">
        {% if bugs %}
        <div class="container">
            <div class="col-8">
              <a class="btn btn-dark btn-lg" href="{% url 'bugs-read' %}">Просмотр всех багов</a>
              <a class="btn btn-dark btn-lg" href="{% url 'bug-create' %}">Cоздание бага</a>
            </div>
        </div>
        {% else %}
        <div class="container">
            <p>Баг репортов создано не было! Идите ищите баги, они есть везде!</p>
            <div class="col-8">
              <a class="btn btn-dark btn-lg" href="{% url 'bug-create' %}">Cоздание бага</a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-6">
        {% if features %}
        <div class="container">
            <div class="col-8">
                <a class="btn btn-dark btn-lg" href="{% url 'features-read' %}">Просмотр всех фич</a>
                <a class="btn btn-dark btn-lg" href="{% url 'feature-create' %}">Cоздание фичи</a>
              </div>
        </div>
        {% else %}
        <div class="container">
            <p>Фич создано не было! Идите ищите делайте фичи, ведь баги всегда есть!</p>
        </div>
        {% endif %}
    </div>

  </div>
  </div>


</body>
{% endblock content %}
